body{
  margin: 0px
}

h1{
  font-family: 'Montserrat', sans-serif;
}

.post-container{
  width: 70%;
  height: 100%;
  margin: 0px auto 0px auto;
  background-color: #fffafa;
}

.post-container .date{
  font-family:'Roboto', sans-serif;
  color: #008080;
}

.post-container div.post-content{
  width: 90%;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

.post-container .post{
  margin-bottom: 50px;
  padding-top: 20px;
  padding-left: 50px;
}